<nav class="siderBar">
    <div class="logo imgBox"><img
            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/week5/logo-ANSWER.svg">
    </div>
    <ul class="list-unstyled">
        <li><a href="" class="d-flex align-items-center"><span
                    class="material-symbols-rounded">insert_chart</span>Dashboard</a></li>
        <li><a href="" class="d-flex align-items-center"><span class="material-symbols-rounded">forum</span>Question</a>
        </li>
        <li><a href="" class="d-flex align-items-center"><span
                    class="material-symbols-rounded">assignment</span>Assignment</a>
        </li>
        <li><a href="" class="d-flex align-items-center"><span
                    class="material-symbols-rounded">video_library</span>Course</a>
        </li>
        <li><a href="" class="d-flex align-items-center"><span class="material-symbols-rounded">group</span>Admin</a>
        </li>
        <li><a href="" class="d-flex align-items-center"><span
                    class="material-symbols-rounded">settings</span>Settings</a>
        </li>
    </ul>





</nav>